<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.peytn.MOOMaskedIconView.MOOMaskedIconView</string>
	<key>CFBundleName</key>
	<string>MOOMaskedIconView Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>CFBundleVersion</key>
	<string>0.2</string>
	
	
	
	
	<key>DocSetFeedName</key>
	<string>MOOMaskedIconView Documentation</string>
	<key>DocSetFeedURL</key>
	<string>http://peytn.com/MOOMaskedIconView/com.peytn.MOOMaskedIconView.MOOMaskedIconView.atom</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DocSetPublisherIdentifier</key>
	<string>com.peytn.MOOMaskedIconView.documentation</string>
	<key>DocSetPublisherName</key>
	<string>Peyton Randolph</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Peyton Randolph. All rights reserved.</string>
</dict>
</plist>
